@model DinarakProject01.Models.DinarakClass
<title>Main Page</title>
<img src="~/Images/logo.png" alt="Alternate Text" id="logo_id" />
<h2>DINARAK BOOKSTORE</h2>
<br />
<br />
@using (Html.BeginForm("getMainPage", "MainPage", FormMethod.Post))
{
    if (Model != null)
    {
        <script>
        function myFunction() {
            location.href='/Books/getBooksTable/@Model.Id';
            alert("myFunction called!");
        }
        </script>
    }
    <div class="container">
        <form id="creat" method="post">
            <label id="label">
                <b>
                    UserName
                </b>
            </label>
            <input type="text" name="UserName" id="Uname" placeholder="UserName" required autofocus>
            <br><br>
            <label id="label">
                <b>
                    Password
                </b>
            </label>
            <input type="Password" name="Password" id="Pass" placeholder="Hard Pass Only" minlength="7" maxlength="14" required>
            <br><br>
            <input type="checkbox" onclick="myFunctionShowPass()">Show Password
            <script>
                function myFunctionShowPass() {
                    var x = document.getElementById("Pass");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
            <br /><br />
            @if (ViewBag.faildLoginMessage != null)
            {
                <script>
                    swal({
                        title: "You Don't Have Account , Click on Signup And Be Part Of Our Family",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    }).then((willCreate) => {
                        if (willCreate) {
                            location.href = "/MainPage/getSignUp";
                        } else {
                            location.href = "/MainPage/getMainPage";
                        }
                    });
                </script>
            }
            <input type="submit" name="log" id="log" value="Log In" onclick="myFunction">
            <br><br>
            <input type="submit" name="sign" id="log" value="Sign Up" onclick="location.href='/MainPage/getSignUp'">
        </form>
    </div>
}